@import "./reset.css";

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(170, 131, 202);
    background-image: url(../img/space.png);
}

/* Home Page CSS */
#home {
    width: 100%;
    height: 100%;
}

.greeting {
    font-family: 'Acme', sans-serif;
    color: rgb(247, 247, 247);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
    animation: dungsil_dudungsil 1s infinite alternate;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, .5);
}

@keyframes dungsil_dudungsil {
    0% {
        transform: translate(-50%, -45%);
    }

    100% {
        transform: translate(-50%, -55%);
    }
}

.start_btn {
    font-family: 'Acme', sans-serif;
    position: absolute;
    background: #ffff8a;
    color: #361f00;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 120px;
    font-size: 58px;
    cursor: pointer;
    border-radius: 75%;
    -webkit-box-shadow: 5px 5px 15px 5px #FFD200;
    box-shadow: 5px 5px 15px 5px #FFD200;
}

/* Select Page CSS */
#selectPage {
    width: 100%;
    height: 100%;
    display: none;
}

.select_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select_wrapper .game_box {
    margin: 0px 100px;
    border: 1px solid black;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    background-color: rgb(162, 246, 195);
}

/* Terminal Page CSS */
#terminalPage {
    width: 100%;
    height: 100%;
    display: none;
}

.terminal_wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1200px;
    height: 100%;
    max-height: 720px;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: blanchedalmond;
}

/* Apple Store Game Page CSS */
#appleStoreGamePage {
    width: 100%;
    height: 100%;
    display: none;
}

.apple_store_game_wrapper {
    width: 100%;
    height: 100%;
}