@import "./reset.css";

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(170, 131, 202);
    background-image: url(../img/space.png);
    background-repeat: no-repeat;
    background-size: cover;
}

::selection {
    background: transparent;
}

::-moz-selection {
    background: transparent;
}

/* Home Page CSS */
#home {
    width: 100%;
    height: 100%;
}

.greeting {
    font-family: 'Acme', sans-serif;
    color: rgb(247, 247, 247);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
    animation: dungsil_dudungsil 1s infinite alternate;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, .5);
}

@keyframes dungsil_dudungsil {
    0% {
        transform: translate(-50%, -45%);
    }

    100% {
        transform: translate(-50%, -55%);
    }
}

.start_btn {
    font-family: 'Acme', sans-serif;
    position: absolute;
    background: #ffff8a;
    color: #361f00;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 120px;
    font-size: 58px;
    cursor: pointer;
    border-radius: 75%;
    -webkit-box-shadow: 5px 5px 15px 5px #FFD200;
    box-shadow: 5px 5px 15px 5px #FFD200;
}

/* LOGO CSS */
#logo {
    font-family: 'Acme', sans-serif;
    color: rgb(247, 247, 247);
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, .5);
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    left: 25px;
    top: 25px;
}

/* Select Page CSS */
#selectPage {
    width: 100%;
    height: 100%;
    display: none;
}

.select_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select_wrapper .game_box {
    font-family: 'Acme', sans-serif;
    margin: 0px 50px;
    border: 1px solid black;
    width: 350px;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    background-color: rgba(82, 47, 141, 0.8);
    border-color: rgb(82 47 141);
    border-radius: 30px;
    color: rgb(247, 247, 247);
    -webkit-box-shadow: 5px 5px 15px -2px #141414;
    box-shadow: 5px 5px 15px -2px #141414;
    animation: game_box_dungsil 1s infinite alternate;
    transition: all 0.2s ease-out;
}

.select_wrapper .game_box:hover {
    background-color: rgb(247, 247, 247);
    border-color: rgb(247, 247, 247);
    color: rgb(82 47 141);
}

@keyframes game_box_dungsil {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, 10px);
    }
}

/* Terminal Page CSS */
#terminalPage {
    width: 100%;
    height: 100%;
    display: none;
}

.terminal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 600px;
    font-family: Hack, monospace;
}

.terminal_header {
    background-color: #D8D6D8;
    width: 900px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.terminal_header .header_space {
    width: 10%;
}

.terminal_header .terminal_title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.left_button_wrapper {
    display: flex;
    height: 100%;
    align-items: center;
}

.terminal_button {
    width: 14px;
    height: 14px;
    border-radius: 14px;
    margin-left: 8px;
    cursor: pointer;
}

.terminal_button.red {
    background-color: #FF4545;
    border: 1px solid #e03c3c;
}

.terminal_button.yellow {
    background-color: #FFBE00;
    border: 1px solid #ebb000;
}

.terminal_button.green {
    background-color: #00D646;
    border: 1px solid #00c241;
}

.terminal_wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: #101222;
    color: rgb(243, 243, 243);
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.current_log {
    display: flex;
    align-items: center;
    height: 24px;
    width: 100%;
}

.past_log {
    height: 24px;
}

.current_log, .past_log, .terminal_info, .command_prompt {
    padding: 4px 0px;
}

.command_prompt {
    padding-left: 10px;
}

.this_is_me {
    margin-right: 10px;
}

.terminal_input {
    font-family: Hack, monospace;
    font-size: 16px;
    color: rgb(243, 243, 243);
    background-color: transparent;
    width: 100%;
}

/* Apple Store Game Page CSS */
#appleStoreGamePage {
    width: 100%;
    height: 100%;
    display: none;
}

#cheat {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
}

.apple_store_game_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game_header {
    font-family: 'Acme', sans-serif;
    color: rgb(247, 247, 247);
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 25px;
    display: flex;
}

.game_header:active {
    font-size: 46px;
    line-height: 50px;
}

.game_header .coin_image {
    background-image: url(../img/coin.png);
    background-repeat: no-repeat;
    background-size: 82%;
    background-position: 10px 5px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.game_header #current_money {
    caret-color: transparent;
}

.apple_store_game_content {
    width: 900px;
    height: 500px;
    padding: 60px 100px 60px 80px;
    background-color: rgba(82, 47, 141, 0.8);
    border-color: rgb(82 47 141);
    -webkit-box-shadow: 5px 5px 15px -2px #141414;
    box-shadow: 5px 5px 15px -2px #141414;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.apple_store_game_content .content_top_wrapper {
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apple_store_game_content .content_top_wrapper .item_image {
    width: 280px;
    height: 100%;
}

.item_image.appleWatch {
    background-image: url(../img/apple_watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -50px;
}

.item_image.iPhone {
    background-image: url(../img/iphone.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -27px;
}

.item_image.iPad {
    background-image: url(../img/ipad.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -57px 0px;
}

.item_image.macBookAir {
    background-image: url(../img/macbook_air.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 0px;
}

.item_image.macBookPro {
    background-image: url(../img/macbook_pro.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px 42px;
}

.item_image.macPro {
    background-image: url(../img/mac_pro.png);
    background-repeat: no-repeat;
    background-size: 116%;
    background-position: -20px 14px;
}

.wrapper_without_image {
    font-family: 'Jua', sans-serif;
    width: calc(100% - 280px);
    height: 100%;
    color: white;
    margin-left: 30px;
}

.wrapper_without_image .item {
    height: 50px;
    font-size: 48px;
}

.wrapper_without_image .percentage_wrapper {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    height: calc(100% - 50px);
    justify-content: center;
}

.wrapper_without_image .percentage_wrapper span {
    margin: 6px 0px;
}

.cost_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cost_wrapper .coin_image {
    background-image: url(../img/coin.png);
    background-repeat: no-repeat;
    background-size: 82%;
    background-position: 10px 5px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#cost {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Acme', sans-serif;
    color: rgb(247, 247, 247);
    font-size: 50px;
}

.enhance {
    font-family: 'Jua', sans-serif;
    position: absolute;
    bottom: -120px;
    left: 0;
    width: 900px;
    height: 100px;
    background-color: rgb(255 206 0 / 80%);
    border-color: rgb(255 206 0);
    -webkit-box-shadow: 5px 5px 15px -2px #141414;
    box-shadow: 5px 5px 15px -2px #141414;
    border-radius: 50px;
    cursor: pointer;
    font-size: 50px;
    color: rgb(247, 247, 247);
}

.enhance:active {
    transform: scale(99%, 99%);
}

#enhance_result {
    font-family: 'Jua', sans-serif;
    position: absolute;
    top: -75px;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: rgb(247, 247, 247);
}